<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    body {
        background: url(/img/10.jpg);
        background-size: cover;
    }

    #info {
        width: 1000px;
        margin: 80px auto 10px auto;
    }

    td {
        background-color: white;
    }

</style>
<body>
<div th:if="${search_pick != null}">
    <table class="table table-bordered" id="info">
        <tbody>
        <tr hidden="hidden">
            <td th:text="${search_pick.getPickUser().getUserId()}"></td>
            <td th:text="${search_pick.getPickInformation().getPickId()}"></td>
        </tr>
        <tr class="active">
            <td>类型</td>
            <td th:text="${search_pick.getPickInformation().getPickType()}"></td>
        </tr>
        <tr class="succes">
            <td>标题</td>
            <td th:text="${search_pick.getPickInformation().getPickName()}"></td>
        </tr>
        <tr class="warning">
            <td>日期</td>
            <td th:text="${search_pick.getPickInformation().getPickDate()}"></td>
        </tr>
        <tr class="danger">
            <td>地点</td>
            <td th:text="${search_pick.getPickInformation().getPickPlace()}"></td>
        </tr>
        <tr class="active">
            <td>联系人</td>
            <td th:text="${search_pick.getPickUser().getUserName()}"></td>
        </tr>
        <tr class="succes">
            <td>联系方式</td>
            <td th:text="'手机：'+${search_pick.getPickInformation().getPickPhone()}"></td>
        </tr>
        <tr class="warning">
            <td>详情</td>
            <td th:text="${search_pick.getPickInformation().getPickTrait()}"></td>
        </tr>
        <tr class="success">
            <td>
                <a href=""  class="btn btn-default" onclick="toPrivateMessage(this)">发送私信</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${search_pickList != null}" class="table table-bordered">
    <table th:each="search_pick : ${search_pickList}">
        <tbody>
        <tr hidden="hidden">
            <td th:text="${search_pick.getPickUser().getUserId()}"></td>
            <td th:text="${search_pick.getPickInformation().getPickId()}"></td>
        </tr>
        <tr class="active">
            <td>类型</td>
            <td th:text="${search_pick.getPickInformation().getPickType()}"></td>
        </tr>
        <tr class="succes">
            <td>标题</td>
            <td th:text="${search_pick.getPickInformation().getPickName()}"></td>
        </tr>
        <tr class="warning">
            <td>日期</td>
            <td th:text="${search_pick.getPickInformation().getPickDate()}"></td>
        </tr>
        <tr class="danger">
            <td>地点</td>
            <td th:text="${search_pick.getPickInformation().getPickPlace()}"></td>
        </tr>
        <tr class="active">
            <td>联系人</td>
            <td th:text="${search_pick.getPickUser().getUserName()}"></td>
        </tr>
        <tr class="succes">
            <td>联系方式</td>
            <td th:text="'手机：'+${search_pick.getPickInformation().getPickPhone()}"></td>
        </tr>
        <tr class="warning">
            <td>详情</td>
            <td th:text="${search_pick.getPickInformation().getPickTrait()}"></td>
        </tr>
        <tr class="success">
            <td>
                <a href=""  class="btn btn-default" onclick="toPrivateMessage(this)">发送私信</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<script>
    function toPrivateMessage(a) {
        var $a = $(a);
        var userId = $a.parent().parent().parent().children().first().children().first().html();
        $a.attr("href","/message/" + userId);
    }
</script>
</body>
</html>
